/* CSS Custom MACHLO 
	color  #cd167b
	light  #ed1b59
	medium #766A5A
*/
:root {
  --main-color: #cd167b;
  --main-color-light: #ed1b59;
  --main-color-medium: #766A5A;
}
.site-logo {
    padding: 15px 0;
}
.btn-primary, .add-to-cart {
    background-color: var(--main-color);
}
.btn-primary:hover, .add-to-cart:hover {
    background-color: var(--main-color-light);
}
.btn-primary:active:hover, .btn-primary:focus {
	background-color: var(--main-color);
	border-color: var(--main-color);
}
.margin-zero {
	margin: 0 !important;
}
.toolbar .inner > a .count, .toolbar .inner > .cart-btn .count {
    background-color: var(--main-color);
}
.text-primary {
    color: var(--main-color-light);;
}
.shop-item .shop-thumbnail {
    background-color: #ffffff !important;
}
/* sticky footer
.footer {
    display: table;
    table-layout: fixed;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}*/
.footer button[type='submit']:hover {
    color: var(--main-color-light);
}
.footer .subscribe-form .form-control:focus {
    border-color: var(--main-color);
}
.form-control:focus {
    border-color: var(--main-color);
}
.primary-color {
	color: var(--main-color);
}
.primary-color-light {
	color: var(--main-color-light);
}
.iradio.checked {
    border-color: var(--main-color);
}
.nav-filters>li>a:hover {
    color: var(--main-color-light);
}
.profile-tabs {
	/*margin-bottom: 40px;
	border-bottom: none;*/
}
.profile-tabs>li {
	float: none;
}
.form-element.form-select-withlabel:before {
    margin-top: 5px;
}
.has-error {
/*  color: #b94a48;*/
  border-color: #b94a48 !important;
  border: 2px solid #b94a48 !important;
}
.form-shop {
    /*
	display: block;
    width: 100%;
  	border: 1px solid #ededed;
	    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
	*/
    line-height: 39px;
    height: 39px;
    font-size: 14px;
    color: #606060;
    text-transform: none;
    border-radius: 5px;
    background-color: #fff;
    padding: 0 16px;
    margin-bottom: 24px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.colors-label {
    position: absolute;
    z-index: 1;
    display: block;
    height: 24px;
    line-height: 24px;
    top: 60px;
    left: 20px;
    font-size: 24px;
}
.colors-label ul {
	list-style-type: none;
	padding-left: 5px;
    margin-top: 0;
    margin-bottom: 24px;
    line-height: 1;
}
.list {
  display: flex;
  justify-content: center;
}
.list li {
  float:left;
  list-style-type:none;
  width:100px;
}
.list li img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}
.list li img.active {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.list li img:hover {
	border: 1px solid rgba(215,213,213,1.00);
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
.color-span-bullet, .fiber_manual_record {
	 -webkit-text-stroke: 1px black;
}
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	opacity: 0.8;
	background: url(../img/preloader.gif) center no-repeat #fff;
}
#products-div {
	min-height: 600px;
}
.padding-top-4x {
    padding-top: 84px !important;
}
.padding-top-5x {
    padding-top: 96px !important;
}
.btn-send-footer {
    position: absolute;
    display: block;
    font-size: 20px;
    border: none;
    background: none;
    top: 50%;
    margin-top: -19px;
    right: 7px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
	outline: none; 
}
.checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
    margin-top: 10px;
}
.form-control::-moz-placeholder {
  color: #979797;
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: #979797;
}

.form-control::-webkit-input-placeholder {
  color: #979797;
}

.form-control.placeholder {
  color: #979797;
}
.shop-item {
	border: 1px dotted #cccccc;
	padding-left: 1px;
	padding-right: 1px;
	z-index: 2;
}
.shop-label {
	border: 1px solid #ccc;
}
.shop-item-price {
	padding-right: 10px;
}
.shop-item-title {
	padding-left: 10px;
}
.shop-item .shop-thumbnail>img {
    border-bottom: 1px dotted #cccccc;
	width: 100% !important;
}
.text-success {
  color: #a7c04d;
  border: 1px solid #a7c04d;	
}
.text-warning {
  color: #ffce2b;
  border: 1px solid #ffce2b;	
}
.text-danger {
  color: #ef0568;
  border: 1px solid #ef0568;	
}
.text-top-rated {
  color: #ffce2b;	
}
.no-border {
	border: none !important;
}
.add-to-wishlist-btn {
	display: inline-block;
    vertical-align: middle;
    width: 36px;
    height: 36px;
    color: #999;
	border: 1px solid #999;	
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    background-color: #fff;
    border-radius: 4px;
}
.add-to-wishlist-btn:hover {
	color: var(--main-color);
}

.shop-item .shop-item-tools .remove-from-whishlist {
  display: inline-block;
  vertical-align: middle;
  width: 36px;
  height: 36px;
  color: #fff;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  background-color: #999;
  border-radius: 4px;
}

.shop-item .shop-item-tools .remove-from-whishlist:hover {
  color: #606060;
}

.modal-backdrop{
	z-index: 9997;
}

.preloadimg{
  /*  min-width: 510px;
    min-height: 510px;*/
}

.preloadimg img {
    display: block;
    background-image: url(../../assets-frontend/img/spinner.gif);
    background-repeat: no-repeat;
    background-position: center center;
	min-width: 510px;
    min-height: 510px;
}

@media screen and (max-width: 768px){
	.site-logo img {
		max-width:115px
	}
	.product-gallery {
		padding-top: 17px;
	}
	.shop-item .shop-item-tools {
		bottom: 5px;
		right: 5px;
	}
	.mobile-hide {
  		display: none;
	}
	.mobile-btn-sm {
		width: 36px;
		margin-left: 0px !important;
	}
	.mobile-small-text {
		font-size: 30px;
	}
	.colors-label {
		position: absolute;
		z-index: 1;
		display: block;
		height: 24px;
		line-height: 20px;
		top: 70px;
		left: 15px;
		font-size: 12px;
	}
	#image-color-carousel-list {
		display:none;
	}
	#image-color-carousel-list-mobile {
		display:flex !important;
	}
	#image-color-carousel-list-mobile ul {
		padding-left: 0px !important;
	}
	.list-mobile {
		font-size:28px;
		display: flex;
  		justify-content: center;
	}
	.list-mobile li {
		margin-right: 5px;
		float:left;
		width:28px;
  		list-style-type:none;
	}
}

/* .modal{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;display:none;overflow:hidden;-webkit-overflow-scrolling:touch;outline:0} */
.modal{ 
	top:80px;
	z-index:9999;
}

/* .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th */

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: middle;
}

 .singleSlideImg {
    display: block;
    width: 100%;
    height: 790px;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}